._app-loader-wrapper {
    opacity: 0.5;
    z-index: -1;
    transition: opacity .3s;
}

.loader {
    height: 100px;
    width: 100px;
    border-left-color: green;
    border-top-color: white;
    border-right-color: orange;
    border-bottom-color: transparent;
}

._loader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: -1;
    transition: opacity .3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.is-loading {
    position: relative;
}

.is-active{
    opacity: 0.5;
    z-index: 1;
}